h1{
    font-family:Montserrat,Arial, Helvetica, sans-serif;
    color:whitesmoke;
    text-align:center;
}
header{
    background-color: #253746; 
    background-image:url("images/Overlapped-circles.png");
    background-position: left;
    background-repeat: no-repeat;
    color: white;
    font-family:Montserrat,Arial, Helvetica, sans-serif;
    height:10%;
    width: 100%;
    position:fixed;
    top:0;
    right:0;
}
body{
    background-color:#0068a4;
    /* background-image:url("images/Overlapped-circles.png");*/
    background-position:left bottom;
    background-repeat: no-repeat;
    font-family:Montserrat,Arial, Helvetica, sans-serif;  
}
section{
   
    /*background-color:#253746cb;*/
    color:whitesmoke;
   /* margin-top:10%;
    margin-bottom:10%; */
    
}
footer{
    background-color: #253746; 
    color: white;
    font-family:Montserrat,Arial, Helvetica, sans-serif;
    height:10%;
    width: 100%;
    position:fixed;
    bottom:0;
    right:0;   
    text-align: center;
}
form{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    color:white;
    border-radius: 8px;
    align-items: center;
    padding:1px;
    width:70%;
    height:100%;
}
fieldset{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    border-color:#F2A900;
    background-color:#253746;
    width:100%;
    height:100%;
}
legend{
    font-family:Montserrat,Arial, Helvetica, sans-serif;
    font-size: 30pt;
}
input{
    background-color:whitesmoke;
    font-family:Montserrat,Arial, Helvetica, sans-serif; 
}
select {
    width: 100%;
    padding: 10px;
    border-radius:4px;
    border: solid 2px #253746;
    background-color:#0068a4e3;
    color: whitesmoke;
}
select:focus{
    border: solid 2px whitesmoke;
}
hr{
    border: solid 2px #F2A900;
    border-radius: 8px;
    width:100%;
    opacity:95%;
}
input{
    border: solid 2px #253746;
    border-radius: 8px;
    width:50%;
    height:10%
}   
nav{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
}
a:link {
    text-decoration: none;
    color:white;
    transition: 1s;
}
a:visited {
    text-decoration: none;
    color:white;
}
a:hover {
    text-decoration: none;
    color:#F2A900;
    transition: 1s;
}
a:active {
    text-decoration: underline;
    color:white;
}

/* CLASSES */
.flexContainer{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    height: 100%;
    margin-top: 10%;
    
}
.flexboxItem{
    width: 20%;
    height: 20%;
    padding: 10px;
    margin-left: 20px;
    border-radius:4px;
    /* border: solid 2px #F2A900;
    background-color: #253746; */
}
.submitButton{
    background-color:#253746;
    border: solid 2px #253746;
    border-radius: 8px;
    color:whitesmoke;
    transition:0.5s;
    height: 40%;
    width: 70%;
    margin-left:1%;
    margin-top:2%;
}
.submitButton:hover{
    background-color:#F2A900;
    border: solid 2px whitesmoke;
    border-radius: 8px;
    color:#253746; 
    transition:0.5s;
}
.modalButton{
    background-color:#253746;
    border: solid 2px #253746;
    border-radius: 8px;
    color:whitesmoke;
    transition:0.5s;
    height: 10%;
    width: 25%;
}
.modalButton:hover{
    background-color:#F2A900;
    border: solid 2px whitesmoke;
    border-radius: 8px;
    color:#253746; 
    transition:0.5s;
}
#binSelect{
    width:100%;
    height:55%;
    padding:10px;
    border-radius:4px;
    border:solid 2px #253746;
    background-color:#0068a4e3;
    color: whitesmoke;
    margin-right:10%;
}
#buttonSection{
    width:100%;
    height:55%;
    padding:10px;
    border-radius:4px;
    border:solid 2px #253746;
    background-color:#0068a4e3;
    color: whitesmoke;
    margin-right:10%;
}
.error{
    color:red;
}
/* MODAL STUFF */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 25%;
    top: 10%;
    width: 25%; 
    height: 25%;
    overflow: auto;
    color: whitesmoke;
    background-color: #0068a4e3; 
    background-image:url("images/Small-circles-1.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    border: 1px solid #F2A900;
}
.modal-content {
    margin-left:10%;
    padding: 20px;
    width: 50%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
